<% include partials/header %>
<% include partials/nav %>

<div class="loader"></div>
<div class="container" id="game-container">
    <div class="row"><p class="h3 text-center" id="questionTitle"></p></div>
    <div class="row" id="question">
        <div class="col-sm-6 table" >
            <img src="" id="questionImage" class="img-thumbnail rounded">
            <div class="row">
                <button type="button" class="btn btn-danger pull-center " id="questionText"></button>
            </div>
        </div>
    </div>
</div>

<% include partials/scripts %>

<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script src="scripts/tts.js"></script>
<script src="scripts/game.js"></script>
    
<% include partials/footer %>