<% include partials/header %>

<div class="menu">
    <h1>MENU</h1>
    <div><button><a href="#">CADASTRAR ATIVIDADE</a></button></div>
    <div><button><a href="/game">GAME</a></button></div>
</div>

<% include partials/footer %>