<% include partials/header %>
<% include partials/nav %>

<div class="dtghero-container">
    <div class="cloud x1"></div>   
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>

<link rel="stylesheet" href="css/home.css">
<% include partials/scripts %>
<% include partials/footer %>