<% include partials/header %>
<% include partials/nav %>

<div class="container" id="newquestion-container">
    <form action="/services/newquestion" method="POST" encType="multipart/form-data" >
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="title">Enunciado da questão</label>
                <input type="text" class="form-control" id="title" placeholder="Digite o enunciado da questão" name="title" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="answer1">Alternativa 1</label>
                <input type="text" class="form-control" id="answer1" placeholder="Digite o texto da alternativa numero um" name="text1" required>
                <p></p>
                <div class="form-group col-md-6">
                    <label for="photo1">Imagem 1</label>
                    <input type="file" class="form-control-file" name="photo1" accept="image/x-png,image/jpeg" required>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="answer2">Alternativa 2</label>
                <input type="text" class="form-control" id="answer2" placeholder="Digite o texto da alternativa numero dois" name="text2" required>
                <p></p>
                <div class="form-group col-md-6">
                    <label for="photo2">Imagem 2</label>
                    <input type="file" class="form-control-file" name="photo2" accept="image/x-png,image/jpeg" required>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="answer3">Alternativa 3</label>
                <input type="text" class="form-control" id="answer3" placeholder="Digite o texto da alternativa numero três" name="text3" required>
                <p></p>
                <div class="form-group col-md-6">
                    <label for="photo3">Imagem 3</label>
                    <input type="file" class="form-control-file" name="photo3" accept="image/x-png,image/jpeg" required>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="answer4">Alternativa 4</label>
                <input type="text" class="form-control" id="answer4" placeholder="Digite o texto da alternativa numero quatro" name="text4" required>
                <p></p>
                <div class="form-group col-md-6">
                    <label for="photo4">Imagem 4</label>
                    <input type="file" class="form-control-file" name="photo4" accept="image/x-png,image/jpeg" required>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="correctQuestion">Alternativa Correta?</label>
                <select class="form-control" id="correctQuestion" name="correct" required>
                <option value="0">Alternativa numero 1</option>
                <option value="1">Alternativa numero 2</option>
                <option value="2">Alternativa numero 3</option>
                <option value="3">Alternativa numero 4</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-danger">Cadastrar Pergunta</button>
    </form>
</div>

<% include partials/scripts %>
<% include partials/footer %>