#game-container{
    width: 70%;
    margin-top: 1%;
}

#newquestion-container{
    width: 70%;
    margin-top: 2%;
}

.row button{
    margin: 2% auto;
    width: 90%;
    min-height: 65px;
    white-space: normal;
}

.img-thumbnail{
    width: 200px;
    height: 200px;
    margin: 1% auto;
    padding: 2%;
}

.table{
    text-align: center;
    padding: 1%;
}

.bg-light {
    background-color: white!important;
}

.logo{
    width: 35px;
}